<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hooray got to index!</h1>
    <a href="/cats/new">Make a new cat</a>
    <h2>All the cats:</h2>
    {% for cat in cats %}
    <h3>{{cat.name}}</h3>
    <p>{{cat.age}}</p>
    <a href="/cats/edit/{{cat.id}}">Edit</a>
    {% endfor %}
    
</body>
</html>