<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Here's a form to make a cat</h2>
    <form action="/create" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="age">Age:</label>
        <input type="number" name="age">
        <input type="submit">
    </form>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>